<!DOCTYPE html>
<html>
<head>
    <title>SkyFUtils</title>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!--favicon-->
    
    <link rel="shortcut icon" href="/static/skyfutils/favicon.png">
    
    <!--css-->
    
    <!--webpack.vendor-->
    
    <!--webpack.self-->
    
    <link rel="stylesheet" href="/static/skyfutils/index.bundle.ed090282.css">
    
</head>
<body>
    <app></app>
    <!--externals-->
    
        
        <script src="/static/skyfutils/jquery.min.js"></script>
        
        <script src="/static/skyfutils/bootstrap.min.js"></script>
        
    
    <!--webpack.vendor-->
    
    <script src="/static/skyfutils/vendor.bundle.ed090282.js"></script>
    
    <!--webpack.self-->
    
    <script src="/static/skyfutils/index.bundle.ed090282.js"></script>
    
</body>
</html>