<div :id="style.hero">
    <div class="{{ style.inner }}">
        <h1>{{ config.name }}</h1>
        <h3>可运行于Node或Browser的JavaScript通用模块类库</h3>
        <hr>
        <a class="btn btn-lg btn-default {{ style['btn'] }} {{ style['btn-install'] }}"
           href="{{ 'start' | router }}">
            安装 v{{ packageJson.version }}
        </a>
        <button class="btn btn-lg btn-default {{ style['btn'] }}"
                @click="gotoGetStart">
            立刻上手
        </button>
    </div>
</div>

<div :id="style.getStart">
    <h2>立刻上手</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <code-panel
                        :title="true"
                        :code-text="codesInBrowser">
                    <template slot="title">
                        <label-browser></label-browser>
                        使用 <code>Install</code> 进行配置
                    </template>
                </code-panel>
            </div>
            <div class="col-md-4">
                <code-panel
                        :title="true"
                        :code-text="codesInNode">
                    <template slot="title">
                        <label-node></label-node>
                        使用 <code>Install</code> 进行配置
                    </template>
                </code-panel>
            </div>
            <div class="col-md-4">
                <code-panel
                        :title="true"
                        :code-text="codesInRun"
                        :run-button="true"
                        @run-code="runCode">
                    <template slot="title">
                        运行代码
                    </template>
                </code-panel>
            </div>
        </div>
    </div>
    <div class="container align-center">
        <a class="btn btn-lg btn-default {{ style['btn'] }}"
           href="{{ 'start' | router }}">
            开始使用
        </a>
    </div>
</div>
<div :id="style.changeLog">
    <h2>修改记录</h2>
    <div class="{{style[ 'subhead' ]}}">
        <span class="label label-success">[+] 新增</span>
        <span class="label label-danger">[-] 删除</span>
        <span class="label label-info">[^] 升级</span>
        <span class="label label-warning">[#] 修复</span>
    </div>
    <hr>
    <div class="container">
        <change-list :change-list="changeList"></change-list>
    </div>
</div>
<app-footer></app-footer>