:global(pre) {
  padding: 0;
}

:global(.align-center) {
  text-align: center;
}

:global(.align-right) {
  text-align: right;
}

:global(.align-left) {
  text-align: left;
}

html,
body {
  height: 100%;
}

#BtnBackTop {
  position: fixed;
  bottom: 36px;
  right: 45px;
  &.at-home {
    background: transparent;
    color: rgba(255, 255, 255, 1);
  }
}

#AppNav {
  &.at-home {
    background: transparent;
    a {
      color: rgba(255, 255, 255, 1);
    }
    :global(li.active) {
      a {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}

#AppMain {
  padding-top: 60px;
  &.at-home {
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
