:global(pre) {
  padding: 0;
}

:global(.align-center) {
  text-align: center;
}

:global(.align-right) {
  text-align: right;
}

:global(.align-left) {
  text-align: left;
}

#BtnBackTop {
  position: fixed;
  bottom: 36px;
  right: 45px;
}

#AppMain {
  padding-top: 60px;
}
